.mainInterface {
  height: 100vh;
  display: grid;
  grid-template-areas: 'navigation tasks';
  grid-template-columns: 1.2fr 4fr;
  /* border: 2x solid black; */
}

.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-areas:
    'searchToolBar'
    'userToolBar'
    'listArea'
    'addList';
  grid-template-rows: 45px 45px 1fr 45px;
  /* border: 2px solid black; */
}

.searchToolBar {
  grid-area: searchToolBar;
  display: grid;
  grid-template-areas: 'toggleIcon searchInput searchIcon';
  grid-template-columns: 1fr 8fr 1fr;
  /* changend the color/khadar */
  background-color: rgb(66, 117, 66);
}

.userToolBar {
  grid-area: userToolBar;
  display: grid;
  grid-template-areas: 'userIcon userName bellIcon conversationIcon';
  grid-template-columns: 1fr 7fr 1fr 1fr;
  /* border: 2px solid green; */
}

.listArea_sub {
  grid-area: listArea;
  height: 45px;
  display: grid;
  grid-template-areas: 'listIcon listName counter EditList';
  grid-template-columns: 1fr 7fr 1fr 1fr;
  /* border: 2px solid green; */
}

.addList {
  grid-area: addList;
  display: grid;
  grid-template-areas: 'plusButton createListText';
  grid-template-columns: 1fr 9fr;
  /* border: 2px solid green; */
}

.toggleIcon {
  grid-area: toggleIcon;
  /* border: 2px solid black; */
}

.searchInput {
  grid-area: searchInput;
  /* border: 2px solid black; */
}

.searchIcon {
  grid-area: searchIcon;
  border: 2px solid black;
}

.userIcon {
  grid-area: userIcon;
  border: 2px solid black;
}

.userName {
  grid-area: userName;
  border: 2px solid black;
}

.bellIcon {
  grid-area: bellIcon;
  border: 2px solid black;
}

.conversationIcon {
  grid-area: conversationIcon;
  border: 2px solid black;
}

.listIcon {
  grid-area: listIcon;
  border: 2px solid black;
}

.listName {
  grid-area: listName;
  border: 2px solid black;
}

.counter {
  grid-area: counter;
  border: 2px solid black;
}

.EditList {
  grid-area: EditList;
  border: 2px solid black;
}

.plusButton {
  grid-area: plusButton;
  border: 2px solid black;
}

.createListText {
  grid-area: createListText;
  border: 2px solid black;
}

.tasks {
  display: grid;
  grid-area: tasks;
  grid-template-rows: 45px 45px 1fr;
  border: 2px solid black;
  list-style-type: none;
}

.addTask {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.taskList_sub {
  height: 35px;
  display: grid;
  grid-template-areas: 'starIcon taskItem editButton deleteButton';
  grid-template-columns: 30px 1fr 30px 30px;
  border: 2px solid green;
}

.starIcon {
  grid-area: starIcon;
  border: 2px solid black;
}

.taskItem {
  grid-area: taskItem;
  border: 2px solid black;
}

.editButton {
  grid-area: editButton;
  border: 2px solid black;
}

.deleteButton {
  grid-area: deleteButton;
  border: 2px solid black;
}

/* New css code by khadar */
.body {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  /* background-image: url('/img_bkground.jpg'); */
}

/* -------This is the h1 title That also will become the todo list-------- */
.title {
}

/* Toolbar background color changed*/
.listToolBar {
  background-color: rgb(86, 126, 86);
}
.taskArea {
  padding: 0.8rem 0;
  width: 98%;
  margin: 0 auto;
  color: #fff;
}

#newTodoInput,
.plusIcon {
  background-color: rgb(86, 126, 86);
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 1rem;
}

/* This is hidden until it is connectet to database */
.taskList_sub {
  display: none;
}

.tasks {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(86, 126, 86, 0.8)),
    url('/img_toronto.jpg'); /* The least supported option. */
  /* background-image: url('/img_toronto.jpg'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(86, 126, 86, 0.9);
  /* opacity: 0.7; */
}
