.body {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  /* background-image: url('/img_bkground.jpg'); */
}

.mainInterface {
  height: 100vh;
  display: grid;
  grid-template-areas: 'navigation tasks';
  grid-template-columns: 1.2fr 4fr;
  /* border: 2x solid black; */
}

.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-areas:
    'searchToolBar'
    'userToolBar'
    'listArea'
    'addList';
  grid-template-rows: 45px 45px 1fr 45px;
  /* border: 2px solid black; */
}

.searchToolBar {
  grid-area: searchToolBar;
  display: grid;
  grid-template-areas: 'toggleIcon searchInput searchIcon';
  grid-template-columns: 1fr 8fr 1fr;
  /* changend the color/khadar */
  background-color: rgb(66, 117, 66);
}

.userToolBar {
  grid-area: userToolBar;
  display: grid;
  grid-template-areas: 'userIcon userName bellIcon conversationIcon';
  grid-template-columns: 1fr 7fr 1fr 1fr;
  color: black;
  /* border: 2px solid green; */
}

.listArea_sub {
  grid-area: listArea;
  height: 50px;
  display: grid;
  grid-template-areas: 'listIcon listName counter EditList';
  grid-template-columns: 1fr 7fr 1fr 1fr;
  color: black;
  /* border: 2px solid green; */
}

.addList {
  grid-area: addList;
  display: grid;
  color: black;
}

.toggleIcon {
  grid-area: toggleIcon;
  font-size: 22px;
  /* border: 2px solid black; */
}

.searchInput {
  grid-area: searchInput;
  /* border: 2px solid black; */
}

.searchIcon {
  grid-area: searchIcon;
  font-size: 22px;
  /* border: 2px solid black; */
}

.userIcon {
  grid-area: userIcon;
  /* border: 1px solid black; */
  font-size: 30px;
  color: rgb(86, 126, 86);
}

.userName {
  grid-area: userName;
  font-size: 24px;
  /* border: 1px solid black; */
}

.bellIcon {
  grid-area: bellIcon;
  /* border: 1px solid black; */
  font-size: 22px;
}

.conversationIcon {
  grid-area: conversationIcon;
  /* border: 1px solid black; */
  font-size: 22px;
}

.listIcon {
  grid-area: listIcon;
  /* border: 2px solid black; */
  font-size: 25px;
}

.listName {
  grid-area: listName;
  /* border: 2px solid black; */
  font-size: 20px;
  cursor: pointer;
}

.listName:hover {
  font-style: italic;
  text-decoration: underline;
}

.counter {
  grid-area: counter;
  /* border: 2px solid black; */
  font-size: 20px;
  cursor: pointer;
}

.EditList {
  grid-area: EditList;
  /* border: 2px solid black; */
  font-size: 20px;
  cursor: pointer;
}

#inputForList {
  margin-bottom: 0% !important;
}

#inputVal {
  font-size: 20px;
}

#updateListBtn {
  font-size: 20px;
}

#newTodoInput,
#newListName {
  font-size: 22px;
  align-self: center;
}

#addNewTask,
#addNewList {
  font-size: 22px;
  vertical-align: middle;
}

#plusSign {
  padding: 5px;
}

.tasks {
  display: grid;
  grid-area: tasks;
  grid-template-rows: 45px 45px 1fr;
  /* border: 2px solid black; */
  list-style-type: none;
}

.addTask {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.taskList {
  padding: 2.8rem 0;
  width: 98%;
  margin: 0 auto;
}

.taskList_sub {
  height: 45px;
  display: grid;
  grid-template-areas: 'starIcon taskItem editButton deleteButton';
  grid-template-columns: 30px 1fr 45px 30px;
  /* border: 2px solid green; */
}

.starIcon {
  cursor: pointer;
  grid-area: starIcon;
  /* border: 2px solid black; */
}

.taskItem {
  grid-area: taskItem;
  /* border: 2px solid black; */
}

.editButton {
  cursor: pointer;
  text-align: center;
  grid-area: editButton;
  /* border: 2px solid black; */
}

.deleteButton {
  cursor: pointer;
  text-align: center;
  grid-area: deleteButton;
  /* border: 2px solid black; */
}

.verticalAlign {
  vertical-align: bottom;
}

/* Toolbar background color changed*/
.listToolBar {
  background-color: rgb(86, 126, 86);
}
.taskArea {
  padding: 0.8rem 0;
  width: 98%;
  margin: 0 auto;
  color: #fff;
}

.title {
  padding-left: 10px;
}

.tasks {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(86, 126, 86, 0.8)),
    url('/img/img_toronto.jpg'); /* The least supported option. */
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(86, 126, 86, 0.9);
  /* opacity: 0.7; */
}
